<!DOCTYPE html>
   <html>

      <head>
         <meta charset="utf-8">
         <title>roboshield by roboshield</title>
         <meta name="viewport" content="width=device-width, initial-scale=1">
         <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
         <link href='https://fonts.googleapis.com/css?family=open+sans:400,700' rel='stylesheet' type='text/css'>
         <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
         <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
      </head>

      <body>
         <section class="page-header">
            <h1 class="project-name">Cal Poly Roboshield</h1>
            <h2 class="project-tagline"></h2>
            <a href="index" class="btn">Main Page</a>
            <a href="assembly" class="btn">Assembly Guide</a>
            <a href="userguide" class="btn">User Guide</a>
            <a href="faq" class="btn">FAQ</a>
            <a href="library" class="btn">Library Reference</a>
            <a href="roboshield_v1.0.pdf" class="btn">Schematic</a>
            <a href="https://github.com/roboshield/roboshield" class="btn">View on GitHub</a>
         </section>

      <div class="container">
          <section class="main-content">
            {{ content }}
         </section>
       </div><!-- /.container -->


      </body>

   </html>
